{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <h2 class="m-2">New coffee post</h2>
</div>

{% if user.is_authenticated %}
{% load account %}
<div class="modal-dialog modal-dialog-centered">
    <div class="row p-2">
        <div class="modal-dialog modal-dialog-centered">

            <form method="POST" enctype='multipart/form-data'>
                
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">New coffee post here</legend>
                    <p>I am  {% user_display user %}</p>         
                </fieldset>
                    
                    <div class="container">
                        <div class="text-right">
                        {% for field in form  %}
                        {% csrf_token %}
                        <div class="m-1 p-1">
                            <b>{{ field.label_tag }}</b> - {{ field }} 
                        </div>
                        {% endfor %}
                        </div>  
                    </div>
                
                <div class="mt-2 p-1">
                    <input class="btn btn-success m-1" type="submit" value="Submit">
                    <a class="btn btn-primary m-1" href="{% url  'home'%}" >Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>

{% endif %}
{%endblock%}