{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <h2 class="m-2">Delete Coffee Post.</h2>
</div>
<div class="col-md-6 p-0 cards" style="margin: auto;">
    <div class="card m-3 cards">
        <div class="card-body m-1 p-1 text-center">
            <div class="card-body m-1 p-1 text-center">
                <p class="mb-1">Name: {{ coffeepost.coffee_name}}</p>
                <p class="mb-1">Brand: {{ coffeepost.coffee_brand}}</p>
                <p class="mb-1">Origin: {{ coffeepost.coffee_origin }}</p>
                {% if  coffeepost.coffee_image.url %}
                <img class="card-img-top rounded img-fluid" alt="Coffee image"
                style="width: 15em; height:12em"
                src=" {{coffeepost.coffee_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 p-0 cards" style="margin: auto;">
    <div class="card m-3 cards">
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <h3>Attention!</h3>
                <h3>Are you sure?</h3>
            </div>
            <div>
                <input type="submit" value="Delete" class="btn btn-danger m-2">
                <a href="{% url 'myarea' %}" class="btn btn-primary m-2">No, take me back</a>
            </div>
        </form>
    </div>
</div>

{%endblock%}