{% extends "base.html" %}
{% load static %}
{% block content %}
{% block javascripts %}
<script>
    function openOrClose(slug, buttonClose, buttonOpen){
        const infos = document.getElementById(slug)

        infos.style.cssText =
            'display: none;';

        const btnOpen = document.getElementById(buttonOpen)
        btnOpen.style.cssText =
            'display: inline-block;';

        const btnClose = document.getElementById(buttonClose)
        btnClose.style.cssText =
            'display: none;';

    }

    function openDetails(slug, buttonClose, buttonOpen){

        const infos = document.getElementById(slug)

        infos.style.cssText =
            'display: block;';

        const btnOpen = document.getElementById(buttonOpen)
        btnOpen.style.cssText =
            'display: none;';

        const btnClose = document.getElementById(buttonClose)
        btnClose.style.cssText =
            'display: inline-block;';    
    }



</script>
{% endblock javascripts %}

    <div class="hero-image">
        <div class="hero-text">
          <h1>Taste Coffee</h1>
          <p>The place to post your favorite coffee</p>
          
        </div>
    </div>


<div class="container-fluid background-main">
    <div class="col">
        <div class="text-center">
            <h2 class="txt-shadow-y txt-white p-4">About</h2>
            <p class="about-p">
                Are you a coffee lover?
Would you like to know what people are saying about a coffee you're looking forward to buying?
This app is for you!
On Taste Coffee, you can add your favorite coffees and comment on coffees already posted!
Check it out!!
            </p>
        </div>
        <div class="text-center">
            <h2 class="txt-shadow-y txt-white p-4">Coffee</h2>
        </div>

        <div class="row container-post">
        {% for post in coffeepost_list %}
            <div class="flex-container" style="width: 22vw; justify-content: center;">
                <div class="card m-1 cards">
                        <div class="card-body m-6 p-1 text-center">
                            {% if post.coffee_image.url  %}
                            <div class="image-container">
                                <img class="card-img-top rounded img-fluid"  alt="Coffee image" src=" {{post.coffee_image.url}}">                       
                            </div>
                            {% endif %}

                            <section  id="{{post.slug}}" class="mb-4">
                            <p class="card-text mt-2 align-text">Name: {{ post.coffee_name }}</p>
                            <p class="card-text align-text">Brand: {{ post.coffee_brand }}</p>
                            <p class="card-text align-text">Origin: {{ post.coffee_origin }}</p>
                            <a class="list-group-item list-group-item-action active fit-content center border-radius-btn" style="margin: auto;" href="{% url 'detail' post.slug %}">View more</a>
                            </section>  
                                            
                        </div>
                </div>
            </div>
          
        {% endfor %}
        </div>
    </div>

    <div class="pagination background-main">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="link-primary" href="?page=1">&laquo; first</a>
                <a class="link-dark" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="link-primary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a  class="link-dark" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
      
      
</div>


{% endblock content %}

