{% extends "base.html" %}
{% load static %}
{% block content %}
{% block javascripts %}
<script>

    const imagens = ['../image/coffeepage.jpg', '../image/coffee2.jpeg', '../image/coffee3.jpeg']
    //const imagens = ['blue', 'white', 'black']
    function carrosel(){
        
        for(image of imagens){
            setInterval(alterarImagem(image),160000);
        }
        //carrosel()   
    }


    function alterarImagem(image){
        console.log("alterar imagem")
        console.log(image)
        const divAlterar = document.getElementById("carrosel")
        console.log(divAlterar)
        divAlterar.style.backgroundImage =
            `linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(${image});`;
        //divAlterar.style.backgroundColor = image;  
    }

    //setTimeout(carrosel,4000);
</script>
{% endblock javascripts %}

        <div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'image/coffeepage.jpg' %});">
            <div class="hero-text">
              <h1 style="color: white!important;">Taste Coffee</h1>
              <p style="color: white!important;">The place to post your favorite coffee</p>
              
            </div>
        </div>



<div class="container-fluid background-main">
    <div class="col">
        <div class="text-center">
            <h2 class="txt-shadow-y txt-white p-4">About</h2>
            <p class="about-p">
                Are you a coffee lover?<br>
Would you like to know what people are saying about a coffee you're looking forward to buying?<br>
This app is for you!<br>
On Taste Coffee, you can add your favorite coffees and comment on coffees already posted!<br>
Check it out!!
            </p>
        </div>
        <div class="text-center" id="coffee">
            <h2 class="txt-shadow-y txt-white p-4">Coffees</h2>
        </div>

        <div class="row container-post direction-posts">
        {% for post in coffeepost_list %}
            <div class="flex-container flex-container-post" style=" justify-content: center;">
                <div class="card m-1 cards">
                        <div class="card-body m-6 p-1 text-center">
                            {% if post.coffee_image.url  %}
                            <div class="image-container">
                                <img class="card-img-top rounded img-fluid"  alt="Coffee image" src=" {{post.coffee_image.url}}">                       
                            </div>
                            {% endif %}

                            <section  id="{{post.slug}}" class="mb-4 content-text">
                            <p class="card-text mt-2 align-text">Name: {{ post.coffee_name }}</p>
                            <p class="card-text align-text">Brand: {{ post.coffee_brand }}</p>
                            <p class="card-text align-text">Origin: {{ post.coffee_origin }}</p>
                            <a class="list-group-item list-group-item-action active fit-content center border-radius-btn" style="margin: auto;" href="{% url 'detail' post.slug %}">View more</a>
                            </section>  
                                            
                        </div>
                </div>
            </div>
          
        {% endfor %}
        </div>
    </div>

    <div class="pagination background-main">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="" href="?page=1">&laquo; first</a>
                <a class="" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="" href="?page={{ page_obj.next_page_number }}">next</a>
                <a  class="" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
      
      
</div>


{% endblock content %}

