{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header section and hero image-->
<header>
    <div class="hero-image">
        <div class="hero-text">
          <h1>Taste Coffee</h1>
          <p>The place to post your favorite coffee</p>
          
        </div>
    </div>
</header>

<div class="container-fluid bck-grd-black">
    <div class="col">
        <div class="text-center">
            <h2 class="txt-shadow-y txt-white p-4">Coffee</h2>
        </div>
        <div class="row">
        {% for post in coffeepost_list %}
            <div class="col-md-6 p-0">
                <div class="card m-3">
                        <div class="card-body m-1 p-1 text-center">
                            <div class="image-container">
                                {% if "placeholder" in post.coffee_image.url  %}
                                <img class="card-img-top rounded" style="width: 300px; height: 200px" alt="coffee image placeholder" src="{% static 'coffee-placeholder.png' %}">
                                {% else %}
                                <img class="card-img-top rounded" style="width: 250px; height: 150px" alt="Coffee image" src=" {{post.coffee_image.url}}">
                                {% endif %}                               
                            </div>
                            <p class="card-text mt-2">Name: {{ post.coffee_name }}</p>
                            <p class="card-text">Brand: {{ post.coffee_brand }}</p>
                            <p class="card-text">Origin: {{ post.coffee_origin }}</p>
                            <p class="card-text">Content: {{post.coffee_content}}</p>                
                        </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
      
      
</div>
{% endblock content %}